{% extends "layout.html" %}

{% block body %}
    <div class="container">
      <br><br>
      <form action="" method="POST" enctype="multipart/form-data">
          <div class="input-group">
              <input type="file" class="form-control" name="file_name" required>
              <input type="submit" value="Upload" class="btn btn-outline-secondary">
          </div>
      </form>
    </div>
    <br><br>
    <br><br>
    <div class="container">
    <table id="data" class="table table-striped">
        <thead>
          <tr>
            <th>file_name</th>
            <th>upload_time</th>
            <th>available_formats</th>
          </tr>
        </thead>
        <tbody>
          {% for file in audir_files %}
            <tr>
              <td>{{ file.audir_title }}</td>
              <td>{{ file.uploaded }}</td>
              <td>{{ file.available_formats }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>  
    <br><br>
{% endblock %}